<nav class= "navBar">
    | <a href="/">Home</a> |
    <a href="/group/new">Create A New Group</a> |
    <div class="userNav">
    <% if (currentUser) { %>
    User: <%= currentUser.username %>
      <form action="/sessions?_method=DELETE" method="POST">
        <input class="btnBackground" type="submit" value="Log Out"/>
      </form>
    <% } else { %>
      </div>
      <button class="btnBackground" type="button" name="button"><a href="/users/new">Sign Up</a></button>
      <button class="btnBackground" type="button" name="button"><a href="/sessions/new">Log In</a></button>
    <% } %>
</nav>
