<%-include('../partials/header.ejs') %>
<div class="containerNew">
    <h1>Edit Schedule</h1>
    <form method="POST" action="/users/<%=idOfUser%>?_method=PUT">
            <fieldset>
              <label for="sunday">Are you avaliable for Sunday?</label>
              <input id ="sunday" type="checkbox" name="sunday">
            </fieldset>
            <fieldset>
              <label for="monday">Are you avaliable for Monday?</label>
              <input id ="monday" type="checkbox" name="monday">
            </fieldset>
            <fieldset>
              <label for="tuesday">Are you avaliable for Tuesday?</label>
              <input id ="tuesday" type="checkbox" name="tuesday">
            </fieldset>
            <fieldset>
              <label for="wednesday">Are you avaliable for Wednesday?</label>
              <input id ="wednesday" type="checkbox" name="wednesday">
            </fieldset>
            <fieldset>
              <label for="thursday">Are you avaliable for Thursday?</label>
              <input id ="thursday" type="checkbox" name="thursday">
            </fieldset>
            <fieldset>
              <label for="friday">Are you avaliable for Friday?</label>
              <input id ="friday" type="checkbox" name="friday">
            </fieldset>
            <fieldset>
              <label for="saturday">Are you avaliable for Saturday?</label>
              <input id ="saturday" type="checkbox" name="saturday">
            </fieldset>
            <button class="btnBackground" >Update My Profile</button>
          </form>
</div>
<%-include('../partials/footer.ejs') %>
